<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body class="bg-gray-600 dark:bg-gray-900">
  <!-- {{ placeholder }} -->
  </div>
    <div class="flex pt-72 justify-center">
      <a href="{{ url_for('download_file', filename=filename) }}">
      <button type="submit" class="px-5 py-2.5 w-48 text-xl font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Download
      </button>
      </a>
      </div>
  </div>
</body>
</html>